.navbar {
	position: fixed;
	width: 100%;
	height: 5rem;
	background-color: #000;
	z-index: 9999;
  .top {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    align-items: center;
    height: 4rem;
    background-color: aliceblue;

    .left {
      img {
        width: 4rem;
        height: 2.5rem;
        cursor: pointer;
      }
    }
    .center {
      .menu {
        display: flex;
        justify-content: space-between;
        gap: 20px;

		.Link {
			text-decoration: none;
		}

        span {
          cursor: pointer;
		  color: #000;
          &:hover {
            border-bottom: 2px solid #000;
          }
        }
        button {
          background-color: #ff0000;
          border: none;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 5rem;
          font-size: 10px;
          margin-top: -0.6rem;
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            border-bottom: 2px solid #000;
          }
        }
      }
    }
    .right {
      margin-right: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .searsh {
        border: 1px solid grey;
        display: flex;
        align-items: center;
        background-color: aliceblue;
        border-radius: 5px;
		width: 20vw;
		justify-content: space-between;

        input {
          border: none;
          background-color: inherit;
		  padding: 0.5rem;
          font-size: 12px;
		  width: 100%;
          color: #000;
          font-family: "Cairo", sans-serif;

          &:focus {
            outline: none;
          }
        }
        .iconSearsh {
          color: grey;
          cursor: pointer;
        }
      }
      .person {
        cursor: pointer;
      }
      .cart {
        cursor: pointer;
        span {
          background-color: rgb(82, 143, 218);
          color: #fff;
          border-radius: 50%;
          font-size: 10px;
          position: relative;
          top: -18px;
          right: 5px;
        }
      }
    }
  }
}

/* menu bottom */

.list_menu {
  display: none;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  transition: all 0.5s ease;
  position: fixed;
  cursor: pointer;
  background-color: #fff;
  z-index: 999;
  margin-top: -1.3rem;


  &.active {
      display: flex;
    }
    .list {
    height: 25rem;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;

    .item {
      margin-top: 1rem;
      h1 {
        font-size: 12px;
        cursor: pointer;
        &:hover {
          border-bottom: 1px solid #000;
        }
      }
      .mini-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        margin-top: 1rem;

        span {
          font-size: 9px;
          cursor: pointer;
          &:hover {
            border-bottom: 1px solid #000;
          }
        }
      }
    }
  }
  .bottom-list {
    display: flex;
    justify-content: space-around;
    height: 2.5rem;
    align-items: center;

    span {
      font-size: 10px;
      cursor: pointer;
      &:hover {
        border-bottom: 1px solid #000;
      }
    }
  }
}
