.announc {

    .top {
        margin: 0;
        padding: 0;
        background-color: #111;
        color: #fff;
        height: 2.5rem;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        p{
            letter-spacing: 3px;
        }
    }
}