.all {
	margin-top: 9rem;
	height: 100%;

	h1 {
		padding: 1rem;
		font-size: 18px;
		margin-left: 2.9rem;

	}
	.wrraper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.topSection {
			width: 90%;
			display: flex;
			padding: 0.6rem;
			gap: 25px;
			align-items: center;
			border-top: 1px solid #c8cccd;

			.itemButton {
				cursor: pointer;
				display: flex;
				align-items: center;
				gap: 7px;
				font-size: 11px;
				color: #808080;
				position: relative;
				width: 100%;
				z-index: 99;
				height: 2rem;

				.listTop {
					display: flex;
					align-items: center;
				}

				.bottomList {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					gap: 20px;
					transition: all 1s ease;
					position: absolute;
					top: 35px;
					width: 8rem;
					height: 12rem;
					border: 1px solid #000;
					background-color: #fff;
					color: #000;

					&.active {
						display: none;
					}
				}
			}
		}
	}
}
