.best {
    height: 30rem;

    .Slider{
        display: flex;
        gap: 30px;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        
        .slick-arrow {
            margin-left: 2rem;
            margin-right: 2rem;
            background-color: crimson;
            width: 2rem;
            height: 3rem;
        }
    }
}